@import "vr";
@import "mixin";
@import "normalize";

@font-face {
  font-family: 'Scriptorama';
  src: url('../fonts/Scriptorama.ttf ')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  font-family: 'MyriadPro-Regular',sans-serif;
}
.slick-disabled {
  opacity: 0;
  pointer-events:none;
}




body{
  background: #f1f1f1;
}

ul{
  padding: 0;

  li{
    list-style: none;
  }

}


/*     colorbox style    */

#cboxLoadedContent {
  border: 23px solid rgb(9, 49, 81);
  background: rgb(9, 49, 81);
}

#cboxOverlay {
  background: #091e2c;
  opacity: 0.8;
}

#cboxNext {
  outline: none;
}

/*==============================*/


.container{
  max-width: 1199px;
  margin: 0 auto;
}

h3{
  @include h3;
}

a{
  color: white;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid $colorOne;
}





/*                                  first section                              */

.first{
  background: url("../img/Banner.png") no-repeat center;
  height: 1031px;

  .header_static{
    display: flex;
    justify-content: space-around;
    padding-top: 31px;
    padding-bottom: 10px;
    width: 1077px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @include header_menu;

    .nav__links{

      li{
        display: inline-block;

        &:first-child {
          margin-left: 0;
        }

      }

    }

    //стиль под бургерт меню


    .nav__menu {

      .menu__links {
        display: none;

        li{
          display: inline-block;
        }

      }

    }

    .menu__icon {
      display: none;
      width: 45px;
      height: 35px;
      position: relative;
      cursor: pointer;
    }

    .menu__icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    .menu__icon span:nth-child(1) {
      top: 0;
    }

    .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
      top: 13px;
    }

    .menu__icon span:nth-child(4) {
      top: 26px;
    }

    .nav__menu.menu_state_open .menu__icon span:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    .nav__menu.menu_state_open .menu__icon span:nth-child(2) {
      transform: rotate(45deg);
      background: #e19a00;
    }

    .nav__menu.menu_state_open  .menu__icon span:nth-child(3) {
      transform: rotate(-45deg);
      background: #e19a00;
    }

    .nav__menu.menu_state_open  .menu__icon span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    .nav__menu.menu_state_open .menu__links {
      display: block;
    }

  }

  .header_scroll {
    display: none;
    padding-top: 16px;
    padding-bottom: 10px;
    margin: 0 auto;
    background: url("../img/fixed_menu.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

      .container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        @include header_menu;

        .nav__links{

          ul{ padding-top: 4px;

            li{
              display: inline-block;
            }

          }

        }
        .nav__menu{

          ul{
            padding-top: 5px;

            li{
              display: inline-block;
            }

          }

        }

    }

  }

  .section__banner_img{
    display: flex;
    justify-content: space-around;
    margin: -85px auto 0;

    .element_left{
      padding-top: 233px;

      img{
        display: block;
      }

    }

  }

}

/*                           second section     (white)                                     */

.second{
  position: relative;

  h3{
    padding-top: 68px;
    position: relative;
    z-index: 2;
  }

  .content{
    padding-bottom: 195px;
    padding-top: 144px;
    position: relative;

    .one{
      position: absolute;
      bottom: -91px;
      left: -46px;
    }

    .two{
      position: absolute;
      top: -224px;
      right: 24px;;
    }

    .content__row{
      display: flex;
      justify-content: space-around;
      margin-bottom: 26px;

      .row__element{
        position: relative;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;

        &:hover{
          transform: scale(1.2, 1.2);
          z-index: 2;
        }

        &:last-child{
          margin-right: 0;
        }

        &__text{
          position: absolute;
          bottom: 4px;
          left: 0;
          right: 0;
          max-width: 283px;
          margin: 0 auto;

          p{
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 24px;
            color: $colorTwo;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 22px;
          }

        }

      }

    }

  }

}


/*                                   third section      (color)                             */
.third {
  background: url("../img/Banner2.png") no-repeat center;
  background-size: cover;
  height: 1241px;

  h3 {
    color: white;
    padding-top: 223px;
  }

  .section__content {

     .third-section-hidden {
      display: block;
      position: relative;
      max-width: 1028px;
      margin: 96px auto 0;

       .section__slider__element{
        outline: none;
        position: relative;

        .element__container {
          display: flex;
          justify-content: space-around;
          border-top: 2px solid $colorOne;

          .element__text {
            background: rgba(9, 49, 81, 0.9);
            position: relative;
            text-align: left;
            max-width: 555px;
            max-height: 417px;
            margin-top: 78px;
            padding: 0 34px 15px 52px;

            &:after {
              content: "";
              position: absolute;
              z-index: 4;
              bottom: -66px;
              left: 174px;
              height: 2px;
              width: 522px;
              background: $colorOne;
            }

            .text__header {
              position: relative;
              padding-top: 48px;
              padding-right: 45px;
              z-index: 2;

              h4 {
                font-size: 24px;
                letter-spacing: 1px;
                color: white;
              }

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorOne;
                padding-bottom: 27px;
              }

            }

            .text__body {
              position: relative;
              height: 284px;
              overflow: auto;
              padding-right: 45px;
              z-index: 2;
              @include scroll;

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorTwo;

              }

            }

          }

        }

      }

      &:before {
        content: "";
        position: absolute;
        top: 258px;
        left: -257px;
        height: 2px;
        width: 516px;
        background: $colorOne;
        transform: rotate(90deg);
      }

      &:after {
        content: "";
        position: absolute;
        top: 288px;
        right: -288px;
        height: 2px;
        width: 577px;
        background: $colorOne;
        transform: rotate(90deg);
      }

       .prev {
         @include prevArrow;
         bottom: 425px;
       }

       .next {
         @include nextArrow;
         bottom: 425px;
       }

    }

    /*    скрытый блок             */


     .third-section-visible {
      display: none;
      position: relative;
      max-width: 650px;
      margin: 96px auto 0;

       .section__slider__element{
        outline: none;
        position: relative;
         padding-bottom: 30px;

        .element__container {
          background: rgba(9, 49, 81, 0.9);
          padding-top: 40px;

          .element__img{

            img{
              margin: 0 auto;
            }

          }

          .element__text {
            position: relative;
            text-align: left;
            max-width: 555px;
            max-height: 417px;
            margin-top: 0;
            padding: 0 34px 20px 52px;

            .text__header {
              position: relative;
              padding-top: 28px;
              padding-right: 0;
              z-index: 2;
              text-align: center;

              h4 {
                font-size: 24px;
                letter-spacing: 1px;
                color: white;
              }

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorOne;
                padding-bottom: 27px;
              }

            }

            .text__body {
              position: relative;
              height: 284px;
              overflow: auto;
              padding-right: 45px;
              z-index: 2;
              @include scroll;

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorTwo;

              }

            }

          }

        }

      }

       .prev {
         @include prevArrow;
         bottom: 255px;
       }

       .next {
         @include nextArrow;
         bottom: 255px;
       }

       .slick-dots{
         @include dots;
       }

    }

  }



}


/*                                    fourth section           (white)                      */

.fourth {

  h3 {
    padding-top: 85px;
  }

  .fourth-section-hidden {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 135px;
    padding-bottom: 64px;

    .one {
      position: absolute;
      top: -187px;
      left: 0;
    }

    .two {
      position: absolute;
      bottom: -188px;
      right: 0;
    }

    .content__element {

      .element__img {
        position: relative;
        top: 47px;
        left: 16px;
        z-index: 2;
      }

      .element__background {
        transition: 0.5s;
        cursor: pointer;
        position: relative;

        .element__text {
          max-width: 308px;
          margin: 0 auto;
          position: absolute;
          top: 64px;
          bottom: 0;
          left: 0;
          right: 0;

          h5 {
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 30px;
            color: white;
            padding-bottom: 11px;
          }

          p {
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 18px;
            color: $colorTwo;
          }

        }

        &:hover {
          transform: scale(1.1, 1.1);
          z-index: 2;

          h5 {
            color: $colorOne;
          }

        }

      }

    }

  }

          //  скрытый блок

  .fourth-section-visible {
    position: relative;
    max-width: 753px;
    padding-top: 95px;
    padding-bottom: 64px;
    display: none;

    .section__slider__element {
      padding-bottom: 30px;
    }

      .content__element {

        .element__img {
          position: relative;
          top: 5px;
          left:0;
          z-index: 2;

          img{
            display: block;
          }

        }

        .element__background {
          transition: 0.5s;
          cursor: pointer;
          position: relative;

          img{
            display: block;

          }

          .element__text {
            max-width: 308px;
            position: absolute;
            bottom: 0;
            left: 35px;
            right: 0;
            top: 43px;

            &:hover{
              transform: none;
            }

            h5 {
              font-size: 24px;
              letter-spacing: 2px;
              line-height: 30px;
              color: white;
              padding-bottom: 11px;
              text-align: left;
            }

            p {
              font-size: 18px;
              letter-spacing: 2px;
              line-height: 18px;
              color: $colorTwo;
              text-align: left;
            }

          }


        }

      }

    }
    .prev {
      @include prevArrow;
      bottom: 255px;
    }

    .next {
      @include nextArrow;
      bottom: 255px;
    }

    .slick-dots{
      @include dots;
    }

}


/*                                     fifth section        (color)                         */

.fifth{
  background: url("../img/Banner3.png") no-repeat center;
  background-size: cover;
  height: 1241px;

  h3{
    padding-top: 280px;
    color: white;
    letter-spacing: 11px;
  }

  .section__content{

    &__container{
      display: flex;
      padding-top: 87px;
      justify-content: flex-end;
      position: relative;

      .content__img{
       position: absolute;
        top: 127px;
        left: 28px;
        box-shadow: -1px 3px 55px 4px rgba(0,0,0,0.75);
      }

      .content__text{
        background: rgba(9, 49, 81, 0.7);
        padding:41px 87px 41px 217px ;


        p{
          position: relative;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 30px;
          color: $colorTwo;
          padding-bottom: 10px;
          padding-top: 10px;
          padding-right: 10px;
          transition: 0.5s;
          cursor: pointer;

          &:hover{
            transform: scale(1.2, 1.2);
          }

          &:before{
            content: "";
            width: 126px;
            height: 2px;
            position: absolute;
            background: $colorOne;
            top: 25px;
            left: -144px;
          }

          &:last-child{
            padding-bottom: 0;
          }

          &:nth-child(even){
            padding-left: 61px;

            &:before{
              left: -93px;
            }

          }

        }

      }

    }

  }

}

/*                                                      sixth section     (white)                                            */

.sixth{
  padding-top: 60px;

  .section__content{
    position: relative;
    padding-top: 72px;
    padding-bottom: 42px;


    .one{
      position: absolute;
      top: -205px;
      left: 63px;
    }

    .two{
      position: absolute;
      bottom: -164px;
      right: 90px;
    }
    .accordion-container{
      position: relative;
      max-width: 1170px;
      height: auto;
      margin: 10px auto;
    }

    .set{
      position: relative;
      height: auto;
      min-width: 1170px;

      p{
        font-size: 30px;
        letter-spacing: 2px;
        color: #e19a00;
        font-weight: 800;
        display: block;
        padding: 16px 32% 16px 34%;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        transition:all 0.2s linear;
        background: url("../img/ФОН_высокий.png") no-repeat center;
        background-size: cover;
        position: relative;
        span {
          font-size: 22px;
          color: $colorTwo;
          font-weight: 400;
        }
        i{
          font-size: 35px;
          letter-spacing: 2px;
          line-height: 30px;
          color: $colorTwo;
          position: absolute;
          right: 0;
          top: 0;
          padding: 18px 20px;
          background: rgba(9, 49, 81, 0.2);
        }
        &:hover{
          cursor: pointer;
          i{
            color: $colorOne;
          }
        }
      }
      &:nth-child(2){
        p{
          background: url("../img/Фон_низкий.png")no-repeat center;
          background-size: cover;
        }

      }
      &:nth-child(3){
        p{
          background: url("../img/Фон_Релакс.png")no-repeat center;
          background-size: cover;
        }

      }
      &:nth-child(4){
        p{
          background: url("../img/Фон_Хатха.png")no-repeat center;
          background-size: cover;
        }

      }
      &:nth-child(5){
        p{
          background: url("../img/Фон_Цигун.png")no-repeat center;
          background-size: cover;
        }

      }
      &:nth-child(6){
        p{
          background: url("../img/Фон_Цигун1.png")no-repeat center;
          background-size: cover;
        }

      }
      &:nth-child(7){
        p{
          background: url("../img/Фон_Индивидуальн.png")no-repeat center;
          background-size: cover;
        }

      }

    }

    .content1{
      background-color: #fff;
      display:none;

      .row{
        display: flex;
        background: url("../img/пн.png")no-repeat center;
        background-size: cover;
        border: none;
        flex-wrap: wrap;
        p{
          background: none;
          border: none;
          font-size: 20px;
          padding: 20px 9px;
          margin: 0;
          color: #595959;
          letter-spacing: 1px;
          span{
            color:#c1cdd7;
            line-height: 0;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 1px;
          }
          &:nth-child(2){
            padding: 20px 5px 20px 6px;
          }
        }
        .white{
          color:#c1cdd7;
          line-height: 23px;
          font-size: 20px;
          font-weight: 800;
          letter-spacing: 1px;
        }

        .day{
          color: #e19a00;
          background: rgba(9, 49, 81, 0.2);
        }
        &:nth-child(2){
          background: url("../img/вт.png")no-repeat center;
           background-size: cover;
        }
        &:nth-child(3){
          background: url("../img/ср.png")no-repeat center;
          background-size: cover;
        }
        &:nth-child(4){
          background: url("../img/чт.png")no-repeat center;
          background-size: cover;
        }
        &:nth-child(5){
          background: url("../img/пт.png")no-repeat center;
          background-size: cover;
        }
        &:nth-child(6){
          background: url("../img/сб.png")no-repeat center;
          background-size: cover;
        }
        .mon{
          padding: 20px 17px;
        }
        .tue{
          padding: 20px 20px 20px 19px;
        }
        .wed{
          padding: 20px  19px 20px 18px;
        }
        .thu{
          padding: 20px 19px;
        }
        .fr{
          padding: 20px 19px 20px 18px;
        }
        .sat{
          padding: 20px 19px 20px 18px ;
        }
      }

    }

  }
/*                                          modal                                        */
  button {
    background-color: $button-bg;
    position: absolute;
    outline: none;
    right: 0;
    color: black;
    border: none;
    padding: 1.25em 2em;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.25s $easing;
    &:before{
      content: "";
      position: absolute;
      background: black;
      height: 1px;
      width: 161px;
      bottom: 22px;
    }


    &:hover {
      background: darken($button-bg, 3%);
    }
  }


  /**
   * Overlay
   * -- only show for tablet and up
   */
  @media only screen and (min-width: 320px) {

    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(#000, 0.6);
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity $speed $easing, visibility $speed $easing;

      &.active1 {
        opacity: 1;
        visibility: visible;
      }
    }
  } // media query



  /**
   * Modal
   */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: url("../img/price.png");
    background-size: cover;

    max-width: 75rem;
    //min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(#000, 0.1);
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all $speed $easing;

    .close-modal {
      position: absolute;
      cursor: pointer;
      top: -4px;
      right: 15px;
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity $speed $easing, transform $speed $easing;
      transition-delay: $delay;

      svg {
        width: 1.75em;
        height: 1.75em;
      }
    } // close modal

    .modal-content {
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity $speed $easing;
      transition-delay: $delay;
    } // content

    &.active1 {
      visibility: visible;
      opacity: 1;
      transform: scale(1);

      .modal-content {
        opacity: 1;
      }

      .close-modal {
        transform: translateY(10px);
        opacity: 1;
      }
    }
  }
  .close{
    padding: 7px;
  }

  .first_block{
    display: flex;
    text-align: center;
    .quantity{
      padding-top: 116px;
    }
    p{
      font-size: 18px;
      letter-spacing: 1px;
      color: white;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    h5{
      font-size: 30px;
      letter-spacing: 2px;
      color: #e19a00;
      font-weight: 800;
      padding-right: 75px;
      padding-left: 75px;
      padding-top: 35px;
      padding-bottom: 46px;
    }
  }
  .second_block{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 38px;
    p{
      font-size: 18px;
      letter-spacing: 1px;
      color: white;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    h5{
      font-size: 30px;
      letter-spacing: 2px;
      color: #e19a00;
      font-weight: 800;
    }
  }

}

/*                                                      seventh section        (color)                                       */

.seventh{
  background: url("../img/Banner4.png") no-repeat center;
  background-size: cover;
  height: 1371px;
  text-align: center;

    .section__content{
      padding-top: 208px;

      &__text{
        max-width: 355px;
        margin: 0 auto;
        padding-right: 10px;
        padding-left: 10px;

        h3{
          color: white;
          padding-bottom: 73px;
        }

        p{
          font-size: 18px;
          color: white;
        }

      }

      .section__slider {
        max-width: 1029px;
        margin: 0 auto;
        padding-top: 93px;

        &__element {
          outline: none;

          .element__container {
            position: relative;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 23px;

            .element__text {
              background: rgba(9, 49, 81, 0.9);
              position: absolute;
              max-width: 668px;
              left: 0;
              top: 39px;
              padding: 23px 23px 15px;
              text-align: left;

              .text__header {

                h4 {
                  position: relative;
                  font-size: 24px;
                  color: white;
                  padding-bottom: 6px;
                  margin-bottom: 34px;
                  border-bottom: 2px solid $colorOne;
                  display: inline-block;
                }

                p {
                  font-size: 16px;
                  color: $colorTwo;
                  padding-bottom: 18px;
                }

              }

              .text__body {
                height: 310px;
                overflow: auto;
                @include scroll;
                padding-right: 38px;

                p {
                  font-size: 16px;
                  line-height: 18px;
                  color: $colorTwo;
                  white-space: pre-line;
                }

              }


            }

          }

        }

      }

    }

  .prev {
    @include prevArrow;
    bottom: 245px;
  }

  .next {
    @include nextArrow;
    bottom: 245px;
  }

  .slick-dots{
    @include dots;
  }

}

/*                                                 eight section   (white)                                              */

.eight{

  h3{
    padding-top: 85px;
  }

  .section__content{
    padding-top: 135px;
    position: relative;

    .one{
      position: absolute;
      top: -205px;
      left: -13px;
    }

    .two{
      position: absolute;
      bottom: -164px;
      right: 90px;
    }

    .section__slider {
      max-width: 1033px;
      margin: 0 auto;

      &__element {
        outline: none;

        .element__container {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 53px;

          .element__text {
            max-width: 750px;
            position: relative;

            .text__img {
              padding-bottom: 35px;
            }

            .text__body {

              a{
                color: #0092ef;
              }

            }

            &:before {
              content: "";
              position: absolute;
              height: 2px;
              width: 181px;
              background: $colorOne;
              transform: rotate(90deg);
              left: -117px;
              top: 83px;
            }

          }

        }

      }

    }

  }

  .prev {
    @include prevArrow;
    bottom: 145px;
  }

  .next {
    @include nextArrow;
    bottom: 145px;
  }

  .slick-dots{
    @include dots;
    bottom: 9px;
  }

}

/*                                                       ninth section                                              */

.ninth{
  background: url("../img/Banner5.png") no-repeat center;
  background-size: cover;
  height: 1371px;

  h3{
    padding-top: 235px;
    color: white;
  }

  .section__content__container {
    padding-top: 89px;

    .ba-grid:after {
      content: '';
      display: table;
      clear: both;
    }

    img{
      width: 100%;
      display: block;
    }

    .ba-grid > [class*="ba-width-"] {
      float: left;
    }

    .ba-grid + .ba-grid {
      margin-top: 30px;
    }

    [class*="ba-width-"] {
      width: 100%;
    }

    .ba-width-1_4 {
      width: 25%;
    }

    .ba-width-2_4 {
      width: 50%;
    }

    .ba-width-3_4 {
      width: 75%;
    }

    .ba-width-1_3 {
      width: 33%;
    }

    .ba-width-2_3 {
      width: 67%;
    }

  }

  .content__element{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    &:hover{

      .hover{
        cursor: pointer;
        opacity: 1;
        transition: 0.5s;
      }

    }

    .hover{
      display: block;
      position: absolute;
      background: rgba(31, 31, 31, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition:0.5s;

      a{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
          position: relative;
          max-width: 38px;
          top: 50%;
          margin: 0 auto;
          transform: translateY(-50%);
        }

      }

    }

  }

}

/*                                            tenth section          (white map)                                  */

.tenth{

  h3{
    padding-top: 90px;
    padding-bottom: 118px;
  }

  .section__content{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 85px;
    position: relative;

    .one{
      position: absolute;
      top: -337px;
      left: 31px;
    }

    #map{
      width: 700px;
      height: 616px;
    }

    .right_top{
      position: relative;

      P{
        font-size: 18px;
        color: rgb(69,68,68);

        &:first-child{
          font-size: 24px;
          color: black;
          margin-bottom: 20px;
        }

        &:nth-child(3){
          padding-bottom: 7px;
        }

        &:nth-child(4){
          padding-bottom: 20px;
        }

      }

      .container-text__img{
        position: relative;
        max-width: 239px;

        p{
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 24px;
          color: black;
          margin-bottom: 30px;
        }

        .top__img{
          position: absolute;
          right: -50px;
          bottom: 0;
        }

      }


    }

    .right_bottom {
      background: url("../img/little_contacts.png");
      background-size: cover;
      padding: 17px;

      .element__text {
        background: #f1f1f1;
        padding-bottom: 30px;

        h5 {
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          padding: 33px 91px 33px 93px;
        }

        .element__link {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin-left: 37px;
          margin-right: 39px;
          margin-bottom: 31px;
          transition: 0.5s;
          cursor: pointer;
          border-bottom: 1px solid black;

          &:hover {
            transform: scale(1.1, 1.1);

            svg{
              @include svg;
            }

          }

          a {
            display: inline-block;

            svg path{
              fill:#052F6A;
              stroke:#052F6A;
            }

          }

          p {
            font-size: 18px;
            line-height: 30px;
            color: rgb(65, 65, 65);
            padding-top: 19px;
          }


        }

      }

    }

  }

}

/*                                                      footer                                                       */

footer{
  background: #022b49;

  .element__container {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;

    li {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 14px;
      transition: 0.5s;
        display: inline-block;

      &:hover {
        cursor: pointer;

        svg {
          @include svg;
        }

      }

    }

    .footer__element {
      position: relative;

      p {
        font-size: 14px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        padding-left: 20px;
        transition: 0.5s;

        &:last-child {
          font-size: 16px;
        }

      }

      .element__img {
        position: absolute;
        left: -5px;
      }

      &:hover {
        cursor: pointer;

        svg {
          @include svg;
        }

        p {
          color: $colorOne;

        }

      }

    }

  }

}

/*                                                                   responsive                                                */


@media all and  (max-width: 1199px) {

  .first {

    .section__content {

      .header_static {
        width: auto;
      }

      .section__banner_img {
        display: block;
        margin: 0 auto;
        text-align: center;

        .element_left {
          padding-top: 180px;

          img {
            margin: 0 auto;
          }

        }

        .element-right {
          display: none;
        }

      }

    }

  }

  .second {
    margin-top: -20px;

    h3 {
      padding-top: 0;
    }

    .content {
      text-align: center;
      padding-top: 90px;
      padding-bottom: 0;

      .one {
        display: none;
      }

      .two {
        display: none;
      }

      .content__row {
        display: inline-block;
        margin-bottom: 0;

        .row__element {
          position: relative;
          text-align: center;
          transition: 0.5s;
          cursor: pointer;
          margin-bottom: 16px;
          margin-right: 8px;
          margin-left: 8px;

          &:last-child {
            margin-right: 8px;
          }

        }

      }

    }

  }

  .third {
    margin-top: -50px;

    .section__content {

      .third-section-hidden {
        display: none;
      }

      .third-section-visible {
        display: block;
      }

    }

  }

  .fourth {
    margin-top: -70px;

    h3 {
      padding-top: 0;
    }

    .fourth-section-hidden {
      display: none;

      .one {
        display: none;
      }

      .two {
        display: none;
      }

    }

    .fourth-section-visible {
      display: block;
    }

  }

  .fifth {
    margin-top: -40px;

    .section__content {

      &__container {
        display: block;
        padding-top: 57px;
        max-width: 700px;
        margin: 0 auto;
        position: relative;

        .content__img {
          display: none;

        }
        .content__text {
          background: rgba(9, 49, 81, 0.7);
          padding: 41px 0 41px 228px;

        }

      }

    }

  }

  .sixth {
    margin-top: -66px;
    h3{
      padding-top: 0;
    }

    .section__content {
      .one {
        display: none;
      }
      .two {
        display: none;
      }


        .set {
          min-width: auto;
          p {
            font-size: 25px;
            letter-spacing: 2px;
            padding: 16px 33.3%;

            i {
              padding: 15px 20px;
            }

          }
        }
        .row {
          flex-wrap: wrap;
          p {
            font-size: 20px;
            padding: 20px 9px;
            display: none;
            &:nth-child(2) {
              padding: 20px 5px 20px 10px;
            }
          }

          .white {
            display: block;
            color: #c1cdd7;
            line-height: 21px;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 1px;

            span {
              display: block;
            }
          }

          .day {
            color: #e19a00;
            background: rgba(9, 49, 81, 0.2);
            display: block;
          }

        }



    }




}


  .seventh{
    margin-top: -46px;

    .section__content{
      padding-top: 208px;

      .section__slider {
        max-width: 700px;
        margin: 0 auto;

        &__element {
          outline: none;
          padding-bottom: 45px;

          .element__container {
            position: relative;
            display: block;
            padding-bottom: 23px;

            .element__text{
              position: relative;
            }

           .element__img{
             display: none;
           }

          }

        }

      }

    }

    .prev {
      @include prevArrow;
      bottom: 245px;
    }

    .next {
      @include nextArrow;
      bottom: 245px;
    }


  }


  .eight{
    margin-top: -60px;

    h3{
      padding-top: 0;
    }

    .section__content{
      padding-top: 80px;

      .one {
        display: none;
      }

      .two {
        display: none;
      }

      .section__slider {
        max-width: 700px;
        margin: 0 auto;

        &__element {
          outline: none;

          .element__container {
            display: block;
            padding-top: 10px;
            padding-bottom: 53px;
            padding-left: 15px;

            .element__img{
              margin-bottom: 60px;

              img {
                margin: 0 auto;
              }

            }

            .element__text {
              padding-left: 20px;
              border-left: 2px solid $colorOne;
              padding-right: 20px;

              &:before {
                content: none;
              }

            }

          }

        }

      }

    }

    .prev {
      @include prevArrow;
      bottom: 142px;
    }

    .next {
      @include nextArrow;
      bottom: 147px;
    }

  }

  .tenth{

    h3{
      padding-top: 0;
      padding-bottom: 68px;
    }

    .section__content{
      display: block;


      .one{
       display: none;
      }

      #map{
        width: auto;
        height: 618px;
      }

      .right{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
      }

      .right_top{
        position: relative;

        &__img{
          position: absolute;
          right: -7px;
          bottom: 0;
          top: 118px;
        }

      }

    }

  }

}


@media all and  (max-width: 1100px) {
  .first{

    .section__content{

      .header_static{

        .header__logo{
          display: none;
        }

        .nav__menu{

          ul{

            li{
              &:nth-child(6){
                display: none;
              }

            }

          }

        }

      }

    }

  }
  .sixth{
    margin-top: -142px;
  }
  .ninth{
    display: none;
  }

  .tenth{
    padding-top: 100px;
  }

}

@media all and  (max-width: 970px) {
  .sixth {
    .section__content {
      .set {
        p {
          font-size: 25px;
          letter-spacing: 2px;
          padding: 16px 26.3% 16px 20%;
          text-align: left;
          i{
            padding: 15px 20px;
          }
        }
      }
    }
    .first_block{
      .quantity{
        padding-top: 110px;
      }
      h5{
        padding-right: 15px;
        padding-left: 35px;
        font-size: 25px;
      }
      p{
        font-size: 15px;
      }
    }
    .second_block{
      h5{
        font-size: 25px;
      }
      p{
        font-size: 15px;
      }
    }

  }
}




@media all and (max-width: 900px){

  .fourth {

    .fourth-section-visible {
      position: relative;
      max-width: 353px;
      padding-top: 95px;
      padding-bottom: 64px;
    }

  }

}



@media all and (min-width: 806px){

    .nav__menu {

      ul {
        display: block !important;
      }

  }

}



@media all and  (max-width: 805px) {

  h3{
    font-size: 54px;

  }

  .first{
    height: 770px;

    .section__content{

      .header_static {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 23px;
        padding-right: 30px;
        padding-left: 30px;

        .nav__links{
          padding-top: 5px;
        }

        .nav__menu {
          padding-top: 0;


          .menu__icon{
            display: inline-block;
          }

          .menu__links{
              position: absolute;
              z-index: 2;
              top: 69px;
              right: 0;
              background: rgba(9, 49, 81, 0.9);
              width: 100%;
              padding: 0;

            li{
              display: block;
            }

            .menu__links-item {
              display: block;
              text-align: center;
              color: #ffffff;
              padding: 28px 0;
              font-size: 24px;
              border-bottom:1px solid #0c5075 ;
            }

          }

        }

      }

      .section__banner_img {

        .element_left {
          padding-top: 50px;
        }

      }

    }

  }

  .fifth{

    .section__content{

      &__container{
        display: block;
        padding-top: 57px;
        max-width: 460px;
        margin: 0 auto;
        position: relative;

        .content__img{
          display: none;
        }

        .content__text{
          padding-left: 61px;

          p{

            &:hover{
              transform: none;
            }

            &:before{
              width: 49px;
              left: -58px;
            }

            &:last-child{
              padding-bottom: 0;
            }

            &:nth-child(even){
              padding-left: 0;

              &:before{
                left: -58px;
              }

            }

          }

        }

      }

    }

  }

  .seventh {
    height: 1250px;
  }

  .tenth{

    .section__content {

      .right {
        display: block;
        padding-bottom: 50px;
      }

      .right_top {
        margin: 0 auto;
        text-align: left;
        position: relative;
        max-width: 300px;
        border-left: 2px solid $colorOne;
        padding-left: 18px;

        p {

          &:nth-child(5) {
            margin: 0 auto;
          }

        }

        .container-text__img {
          margin: 0 auto;
          max-width: none;

          .top__img {
            right: 6px;
          }

        }

      }
      .right_bottom{
        max-width: 320px;
        background-size: cover;
        margin: 0 auto;

          .element__text{

            h5{
              padding-left: 60px;
              padding-right: 60px;
            }

          }

      }

    }

  }

  footer{

    .element__container{

      .logo{
        display: none;
      }

    }

  }

}
@media all and  (max-width: 610px) {
  .sixth {
    .section__content {
      .set {
        p {
          font-size: 25px;
          letter-spacing: 2px;
          padding: 16px 26.3% 16px 10%;
          i{
            padding: 15px 20px;
          }
        }
      }
    }
  }
}


@media all and  (max-width: 600px) {

  h3{
    font-size: 32px;
  }

  .first{

    .section__content{

      .section__banner_img {

        .element_left {
          padding-top: 80px;

          img {
            display: block;
            width: 100%;
          }

        }

      }

    }

  }
  .sixth{
    .first_block{
      .quantity{
        padding-top: 105px;
      }
      h5{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 20px;
        letter-spacing: 0;
      }
      p{
        font-size: 15px;
      }
    }
    .second_block{
      h5{
        font-size: 20px;
      }
      p{
        font-size: 15px;
      }
    }
  }

  footer{

    .element__container{
      padding: 10px 0;
      display: block;
      max-width: 160px;

      .footer__element{
        padding-bottom: 10px;
        padding-top: 10px;

        .element__img{
          left: 8px;
        }

        &:nth-child(2){

          p{
            margin-left: 10px;
          }

            .element__img {
              left: -7px;
            }

        }
          p{
          margin-left: 20px;
          &:first-child{
            display: none;
          }

        }

      }

      ul{
        text-align: center;
        padding-bottom: 10px;
      }

    }

  }

}
@media all and  (max-width: 520px) {
  .sixth {
    .section__content {
      .set {
        p {
          font-size: 20px;
          letter-spacing: 2px;
          padding: 16px 26.3% 16px 5%;
          text-align: left;
          i {
            padding: 11px 20px;
          }
          span {
            font-size: 16px;
          }
        }
        .row {
          .white {
            font-size: 15px;
            padding: 16px 5px;
            line-height: 15px;
          }
          .day {
            font-size: 15px;
          }
          .mon {
            padding: 16px;
          }
          .tue {
            padding: 16px 18px;
          }
          .wed {
            padding: 16px 17px 16px 18px;
          }
          .thu {
            padding: 16px 17px 16px 18px;
          }
          .fr {
            padding: 16px 16px 16px 18px;
          }
          .sat {
            padding: 16px 17px 16px 18px;
          }
          p:nth-child(2) {
            padding: 10px 5px 10px 6px
          }
        }
      }
    }
    .modal{
      padding-left: 5px;
      padding-right: 0;
      .first_block {
        .quantity {
          padding-top: 65px;
        }
        h5 {
          padding-right: 10px;
          padding-left: 10px;
          padding-bottom: 14px;
          font-size: 14px;
          letter-spacing: 0;
        }
        p {
          font-size: 12px;
        }
      }
      .second_block {
        h5 {
          font-size: 14px;
          letter-spacing: 0;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media all and  (max-width: 400px) {

  .sixth {
    .section__content {
      .set {
        p {
          font-size: 15px;
          letter-spacing: 0;
          padding: 16px 37.3% 16px 8%;
          text-align: left;
          i{
            padding: 10px 18px;
            font-size: 25px;
          }
          span{
            font-size: 14px;
          }
        }
        .row{
          .day{
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .white{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 3px;
          }
          p{
            font-size: 15px;
            span{
              font-size: 15px;
            }
          }
        }
      }
    }
  }

h3{
  letter-spacing: 9px;
}

  .first{

    .section__content{

      .section__banner_img {

        .element_left {
          padding-top: 100px;
        }

      }

    }

  }

  .fourth {

    .section__content {


      .content__element {

        .element__img {
          top: 0;

          img{
            width: 100%;
            display: block;
          }

        }

        .element__background{
          padding-bottom: 20px;

          img{
            width: 100%;
            display: block;
          }

          .element__text{
            max-width: 300px;
            top: 30px;
            bottom: 15px;
            padding-right: 8px;
           }

        }

      }

    }

  }

  .second {
    position: relative;

    .content {

      .content__row {

        .row__element {

          .row__element__background{
            width: 100%;
            display: block;
          }

          .row__element__text{

            img{
              display: block;
              max-width: 112px;
              max-height: 100px;
              margin: 0 auto;
            }

          }

          &:hover {
            transform: none;
            z-index: 2;
          }

        }

      }

    }

  }

  .fifth{

    h3{
      padding-top: 220px;
      padding-left: 34px;
      padding-right: 10px;
    }

  }

}