@import "vr";
@import "mixin";
@import "normalize";

@font-face {
  font-family: 'Scriptorama';
  src: url('../fonts/Scriptorama.ttf ')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  font-family: 'MyriadPro-Regular',sans-serif;
}

body{
  background: #f1f1f1;
}

ul{
  padding: 0;
  li{
    list-style: none;
    display: inline-block;
  }
}


/*     colorbox style    */

#cboxLoadedContent {
  border: 23px solid rgb(9, 49, 81);
  background: rgb(9, 49, 81);
}

#cboxOverlay {
  background: $colorTwo;
  opacity: 0.2 !important;
}

#cboxNext {
  outline: none;
}
/*==============================*/


.container{
  max-width: 1199px;
  margin: 0 auto;
}

h3{
  @include h3;
}

a{
  color: white;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid $colorOne;
}





/*                                  first section                              */

.first{
  background: url("../img/Баннер.png") no-repeat center;
  height: 1031px;

  .display_flex{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 10px;
    width: 1077px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @include header_menu;

  }

  .display_none {
    display: none;
    padding-top: 16px;
    padding-bottom: 10px;
    margin: 0 auto;
    background: url("../img/fixed_menu.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

      .container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        @include header_menu;

    }

  }

  .section__banner_img{
    display: flex;
    justify-content: space-around;
    margin: -72px auto 0;

    .element_left{
      padding-top: 233px;
      img{
        display: block;

      }
    }

  }

}

/*                           second section     (white)                                     */

.second{
  position: relative;
  .element_absolute{

  }

  h3{
    padding-top: 68px;
    position: relative;
    z-index: 2;
  }
  .content{
    padding-bottom: 195px;
    padding-top: 144px;
    position: relative;
    .one{
      position: absolute;
      bottom: -91px;
      left: -46px;
    }
    .two{
      position: absolute;
      top: -224px;
      right: 24px;;
    }

    .content__row{
      display: flex;
      justify-content: space-around;
      margin-bottom: 26px;

      .row__element{
        position: relative;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;

        &:hover{
          transform: scale(1.2, 1.2);
          z-index: 2;
        }

        &:last-child{
          margin-right: 0;
        }

        &__text{
          position: absolute;
          bottom: 4px;
          left: 0;
          right: 0;
          max-width: 283px;
          margin: 0 auto;

          p{
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 24px;
            color: $colorTwo;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 22px;
          }

        }

      }

    }

  }

}


/*                                   third section      (color)                             */
.third {
  background: url("../img/Баннер2.png") no-repeat center;
  background-size: cover;
  height: 1241px;

  h3 {
    color: white;
    padding-top: 223px;
  }

  .section__content {

     .hidden {
      display: block;
      position: relative;
      max-width: 1028px;
      margin: 96px auto 0;

       .section__slider__element{
        outline: none;
        position: relative;

        .element__container {
          display: flex;
          justify-content: space-around;
          border-top: 2px solid $colorOne;

          .element__text {
            background: rgba(9, 49, 81, 0.9);
            position: relative;
            text-align: left;
            max-width: 555px;
            max-height: 417px;
            margin-top: 78px;
            padding: 0 34px 15px 52px;

            &:after {
              content: "";
              position: absolute;
              z-index: 4;
              bottom: -66px;
              left: 174px;
              height: 2px;
              width: 522px;
              background: $colorOne;
            }

            .text__header {
              position: relative;
              padding-top: 48px;
              padding-right: 45px;
              z-index: 2;

              h4 {
                font-size: 24px;
                letter-spacing: 1px;
                color: white;
              }

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorOne;
                padding-bottom: 27px;
              }

            }

            .text__body {
              position: relative;
              height: 237px;
              overflow: auto;
              padding-right: 45px;
              z-index: 2;
              @include scroll;

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorTwo;

              }

            }

          }

        }

      }

      &:before {
        content: "";
        position: absolute;
        top: 258px;
        left: -257px;
        height: 2px;
        width: 516px;
        background: $colorOne;
        transform: rotate(90deg);
      }

      &:after {
        content: "";
        position: absolute;
        top: 288px;
        right: -288px;
        height: 2px;
        width: 577px;
        background: $colorOne;
        transform: rotate(90deg);
      }

       .prev {
         @include prevArrow;
         bottom: 425px;
       }

       .next {
         @include nextArrow;
         bottom: 425px;
       }

    }

    /*    на респонсив             */


     .visible {
      display: none;
      position: relative;
      max-width: 650px;
      margin: 96px auto 0;

       .section__slider__element{
        outline: none;
        position: relative;
         padding-bottom: 30px;

        .element__container {
          background: rgba(9, 49, 81, 0.9);
          padding-top: 40px;
          .element__img{
            img{
              margin: 0 auto;
            }
          }
          .element__text {
            position: relative;
            text-align: left;
            max-width: 555px;
            max-height: 417px;
            margin-top: 0;
            padding: 0 34px 57px 52px;

            .text__header {
              position: relative;
              padding-top: 28px;
              padding-right: 45px;
              z-index: 2;
              text-align: center;

              h4 {
                font-size: 24px;
                letter-spacing: 1px;
                color: white;
              }

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorOne;
                padding-bottom: 27px;
              }

            }

            .text__body {
              position: relative;
              height: 237px;
              overflow: auto;
              padding-right: 45px;
              z-index: 2;
              @include scroll;

              p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 24px;
                color: $colorTwo;

              }

            }

          }

        }

      }

       .prev {
         @include prevArrow;
         bottom: 255px;
       }

       .next {
         @include nextArrow;
         bottom: 255px;
       }

       .slick-dots{
         @include dots;
       }

    }

  }



}


/*                                    fourth section           (white)                      */

.fourth{
  h3{
    padding-top: 85px;
  }
  .section__content{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 135px;
    padding-bottom: 64px;
    .one{
      position: absolute;
      top: -187px;
      left: 0;
    }
    .two{
      position: absolute;
      bottom: -188px;
      right: 0;
    }

    .content__element{

      .element__img{
        position: relative;
        top: 47px;
        left: 16px;
        z-index: 2;
      }

      .element__background{
        transition: 0.5s;
        cursor: pointer;
        position: relative;

        .element__text{
          max-width: 308px;
          margin: 0 auto;
          position: absolute;
          top: 74px;
          bottom: 0;
          left: 0;
          right: 0;

          h5{
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 30px;
            color: white;
            padding-bottom: 25px;

          }

          p{
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 18px;
            color: $colorTwo;
          }

        }

        &:hover{
          transform: scale(1.1, 1.1);
          z-index: 2;
          h5{
            color: $colorOne;
          }
        }

      }

    }

  }

}

/*                                     fifth section        (color)                         */

.fifth{
  background: url("../img/Баннер3.png") no-repeat center;
  background-size: cover;
  height: 1241px;

  h3{
    padding-top: 280px;
    color: white;
  }

  .section__content{



    &__container{
      display: flex;
      padding-top: 87px;
      justify-content: flex-end;
      position: relative;

      .content__img{
       position: absolute;
        top: 127px;
        left: 28px;
        box-shadow: -1px 3px 55px 4px rgba(0,0,0,0.75);

      }
      .content__text{
        background: rgba(9, 49, 81, 0.7);
        padding-top: 41px;
        padding-bottom: 41px;
        padding-right:122px ;
        padding-left: 217px;

        p{
          position: relative;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 30px;
          color: $colorTwo;
          padding-bottom: 10px;
          padding-top: 10px;
          transition: 0.5s;
          cursor: pointer;

          &:hover{
            transform: scale(1.2, 1.2);
          }

          &:before{
            content: "";
            width: 126px;
            height: 2px;
            position: absolute;
            background: $colorOne;
            top: 25px;
            left: -144px;
          }

          &:last-child{
            padding-bottom: 0;
          }

          &:nth-child(even){
            padding-left: 61px;

            &:before{
              left: -93px;
            }

          }

        }

      }

    }

  }

}

/*                                                      sixth section     (white)                                            */

.sixth{
  .section__content{
    position: relative;
    padding-top: 72px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-around;

    .one{
      position: absolute;
      top: -205px;
      left: 63px;
    }

    .two{
      position: absolute;
      bottom: -164px;
      right: 90px;
    }

    .left{

      .element__text__header{
        position: relative;

        p{
          font-size: 48px;

          span{
            font-family: "Scriptorama",sans-serif;
            font-size: 72px;
            letter-spacing: 14px;
          }

        }
        .header__img{
          position: absolute;
          top: 99px;
          right: -10px;
        }

      }

      .element__text__body{
        padding-top: 128px;
        position: relative;
        padding-left: 18px;

        p{
          max-width: 280px;
          font-size: 24px;
          font-weight: bold;

          &:last-child{
            max-width: 315px;
            font-size: 24px;
            font-weight: normal;
            padding-top: 44px;
          }

        }

        &:before{
          content: "";
          position: absolute;
          transform: rotate(90deg);
          height: 2px;
          width: 186px;
          background: #e19a00;
          bottom: 88px;
          left: -89px;
        }

      }

    }
    .right{
      background: url("../img/big_contacts.png");
      background-size: cover;
      padding: 30px;

      .element__text{
        background: #f1f1f1;

        h5{
          font-size: 36px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 101px;
          padding-top: 63px;
          padding-left: 89px;
          padding-right: 105px;
        }

        .element__link{
         display: flex;
         justify-content: space-between;
         position: relative;
         padding-left: 70px;
         padding-right: 78px;
         padding-bottom: 70px;
         transition: 0.5s;
         cursor: pointer;

         &:hover{
           transform: scale(1.1, 1.1);

           svg{
             @include svg;
           }

         }

         a{
           display: inline-block;
           svg path{
             fill:#052F6A;
             stroke:#052F6A;
           }
         }

         p{
           font-size: 24px;
           line-height: 30px;
           color: rgb(65,65,65);
           padding-top: 27px;
         }

         &:after{
           content: "";
           position: absolute;
           width: 280px;
           height: 1px;
           background: #414141;
           bottom: 65px;
           left: 64px;
         }

       }

      }

    }

  }

}

/*                                                      seventh section        (color)                                       */

.seventh{
  background: url("../img/Баннер4.png") no-repeat center;
  background-size: cover;
  height: 1371px;
  text-align: center;

    .section__content{
      padding-top: 208px;

      &__text{
        max-width: 355px;
        margin: 0 auto;

        h3{
          color: white;
          padding-bottom: 73px;
        }

        p{
          font-size: 18px;
          color: white;
        }

      }

      .section__slider {
        max-width: 1029px;
        margin: 0 auto;
        padding-top: 93px;

        &__element {
          outline: none;

          .element__container {
            position: relative;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 23px;

            .element__text {
              background: rgba(9, 49, 81, 0.9);
              position: absolute;
              max-width: 668px;
              left: 0;
              top: 39px;
              padding: 23px 23px 15px;
              text-align: left;

              .text__header {

                h4 {
                  position: relative;
                  font-size: 24px;
                  color: white;
                  padding-bottom: 6px;
                  margin-bottom: 34px;
                  border-bottom: 2px solid $colorOne;
                  display: inline-block;
                }

                p {
                  font-size: 14px;
                  color: $colorTwo;
                  padding-bottom: 18px;
                }

              }

              .text__body {
                height: 310px;
                overflow: auto;
                @include scroll;
                padding-right: 38px;

                p {
                  font-size: 14px;
                  line-height: 18px;
                  color: $colorTwo;
                  white-space: pre-line;
                }

              }


            }

          }

        }

      }

    }

  .prev {
    @include prevArrow;
    bottom: 245px;
  }

  .next {
    @include nextArrow;
    bottom: 245px;
  }

  .slick-dots{
    @include dots;
  }

}

/*                                                 eight section   (white)                                              */

.eight{

  h3{
    padding-top: 85px;
  }
  .section__content{
    padding-top: 135px;
    position: relative;

    .one{
      position: absolute;
      top: -205px;
      left: -13px;
    }

    .two{
      position: absolute;
      bottom: -164px;
      right: 90px;
    }

    .section__slider {
      max-width: 1033px;
      margin: 0 auto;

      &__element {
        outline: none;

        .element__container {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 53px;
          .element__text {
            max-width: 750px;
            position: relative;

            .text__img {
              padding-bottom: 35px;
            }

            .text__body {

              a{
                color: #0092ef;
              }

            }
            &:before {
              content: "";
              position: absolute;
              height: 2px;
              width: 181px;
              background: $colorOne;
              transform: rotate(90deg);
              left: -117px;
              top: 83px;
            }

          }

        }

      }

    }

  }

  .prev {
    @include prevArrow;
    bottom: 145px;
  }

  .next {
    @include nextArrow;
    bottom: 145px;
  }

  .slick-dots{
    @include dots;
  }

}

/*                                                       ninth section                                              */

.ninth{
  background: url("../img/Баннер5.png") no-repeat center;
  background-size: cover;
  height: 1371px;
  h3{
    padding-top: 235px;
    color: white;
  }
  .section__content__container {
    padding-top: 89px;

    .ba-grid:after {
      content: '';
      display: table;
      clear: both;
    }

    img{
      width: 100%;
      display: block;
    }

    .ba-grid > [class*="ba-width-"] {
      float: left;
    }

    .ba-grid + .ba-grid {
      margin-top: 30px;
    }

    [class*="ba-width-"] {
      width: 100%;
    }

    .ba-width-1_4 {
      width: 25%;
    }

    .ba-width-2_4 {
      width: 50%;
    }
    .ba-width-3_4 {
      width: 75%;
    }
    .ba-width-1_3 {
      width: 33%;
    }
    .ba-width-2_3 {
      width: 67%;
    }
  }

  .content__element{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    &:hover{

      .hover{
        display: block;
        cursor: pointer;

      }

    }

    .hover{
      display: none;
      position: absolute;
      background: rgba(31, 31, 31, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;


      a{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
          position: relative;
          max-width: 38px;
          top: 50%;
          margin: 0 auto;
          transform: translateY(-50%);
        }

      }

    }

  }

}

/*                                            tenth section          (white map)                                  */

.tenth{

  h3{
    padding-top: 90px;
    padding-bottom: 118px;
  }

  .section__content{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 85px;
    position: relative;

    .one{
      position: absolute;
      top: -337px;
      left: 31px;
    }

    #map{
      width: 700px;
      height: 618px;
    }

    .right_top{
      position: relative;

      P{
        font-size: 18px;
        color: rgb(69,68,68);

        &:first-child{
          font-size: 24px;
          color: black;
          padding-bottom: 20px;
        }

        &:nth-child(3){
          padding-bottom: 7px;
        }

        &:nth-child(4){
          padding-bottom: 20px;
        }

        &:nth-child(5){
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 24px;
          max-width: 239px;
          color: black;
          padding-bottom: 37px;
        }

      }

      &__img{
        position: absolute;
        right: 72px;
        bottom: 34px;
      }

    }

    .right_bottom {
      background: url("../img/little_contacts.png");
      background-size: cover;
      padding: 17px;

      .element__text {
        background: #f1f1f1;

        h5 {
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          padding-bottom:36px;
          padding-top: 44px;
          padding-left: 93px;
          padding-right: 91px;
        }

        .element__link {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding-left: 37px;
          padding-right: 39px;
          padding-bottom: 36px;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            transform: scale(1.1, 1.1);

            svg{
              @include svg;
            }

          }

          a {
            display: inline-block;

            svg path{
              fill:#052F6A;
              stroke:#052F6A;
            }

          }

          p {
            font-size: 18px;
            line-height: 30px;
            color: rgb(65, 65, 65);
            padding-top: 19px;
          }

          &:after {
            content: "";
            position: absolute;
            width: 268px;
            height: 1px;
            background: #414141;
            bottom: 35px;
            left: 33px;
          }

        }

      }

    }

  }

}

/*                                                      footer                                                       */

footer{
  background: #022b49;
  .element__container {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;
    li {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 14px;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        svg {
          @include svg;
        }
      }

    }
    .footer__element {
      position: relative;


      p {
        font-size: 14px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        padding-left: 20px;
        transition: 0.5s;

        &:last-child {
          font-size: 16px;
        }

      }
      .element__img {
        position: absolute;
        left: -5px;
      }

      &:hover {
        cursor: pointer;

        svg {
          @include svg;
        }

        p {
          color: $colorOne;

        }

      }

    }

  }

}

/*                                                                   responsive                                                */


@media all and  (max-width: 1199px) {


  .first {


    .section__content {

       .display_none {
        display: none !important;
      }
      .display_flex{
        width: auto;
      }

      .section__banner_img{
        display: block;
        margin: 0 auto;
        text-align: center;

        .element_left{
          padding-top: 180px;
          img{
            margin: 0 auto;

          }

        }
        .element-right{
          display: none;
        }
      }

    }

  }

  .second {

    h3{
      padding-top: 0;
    }

    .content {
      text-align: center;
      padding-top: 90px;
      padding-bottom: 0;

      .one {
        display: none;
      }

      .two{
        display: none;
      }

      .content__row {
        display: inline-block;
        margin-bottom: 26px;

        .row__element {
          position: relative;
          text-align: center;
          transition: 0.5s;
          cursor: pointer;
          margin-bottom: 16px;
          margin-right: 8px;
          margin-left: 8px;
          &:last-child{
            margin-right: 8px;
          }
        }

      }

    }

  }


  .third {

    .section__content {

      .hidden{
        display: none;
      }

      .visible{
        display: block;
      }

    }

  }


  .fourth {
    h3{
      padding-top: 0;
    }
    .section__content {

      display: block;
      margin: 0 auto;
      padding-top: 70px;
      padding-bottom: 0;
      text-align: center;

      .one {
        display: none;
      }

      .two {
        display: none;
      }

      .content__element {

        .element__img {
          position: relative;
          top: 47px;
          left: 0;
          z-index: 2;
        }

      }

    }
  }


  .fifth{

    .section__content{

      &__container{
        display: block;
        padding-top: 57px;
        max-width: 700px;
        margin: 0 auto;
        position: relative;

        .content__img{
          display: none;

        }
        .content__text{
          background: rgba(9, 49, 81, 0.7);
          padding-top: 41px;
          padding-bottom: 41px;
          padding-right:0 ;
          padding-left: 212px;

        }

      }

    }

  }


  .seventh{

    .section__content{
      padding-top: 208px;

      .section__slider {
        max-width: 700px;
        margin: 0 auto;

        &__element {
          outline: none;
          padding-bottom: 45px;

          .element__container {
            position: relative;
            display: block;
            padding-bottom: 23px;
            .element__text{
              position: relative;
            }

           .element__img{
             display: none;
           }

          }

        }

      }

    }

    .prev {
      @include prevArrow;
      bottom: 245px;
    }

    .next {
      @include nextArrow;
      bottom: 245px;
    }


  }


  .eight{

    h3{
      padding-top: 0;
    }

    .section__content{
      padding-top: 80px;

      .one {
        display: none;
      }

      .two {
        display: none;
      }

      .section__slider {
        max-width: 700px;
        margin: 0 auto;

        &__element {
          outline: none;

          .element__container {
            display: block;
            padding-top: 10px;
            padding-bottom: 53px;
            padding-left: 15px;
            .element__img{
              margin-bottom: 60px;
              img {
                margin: 0 auto;
              }
            }
            .element__text {
              padding-left: 20px;
              border-left: 2px solid $colorOne;
              padding-right: 20px;

              &:before {
                content: none;

              }

            }

          }

        }

      }

    }
    .prev {
      @include prevArrow;
      bottom: 142px;
    }

    .next {
      @include nextArrow;
      bottom: 147px;
    }


  }


  .tenth{

    h3{
      padding-top: 0;
      padding-bottom: 68px;
    }

    .section__content{
      display: block;


      .one{
       display: none;
      }

      #map{
        width: auto;
        height: 618px;
      }

      .right{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
      }
      .right_top{
        position: relative;

        &__img{
          position: absolute;
          right: -7px;
          bottom: 0;
          top: 118px;
        }

      }

    }

  }

}

@media all and  (max-width: 1100px) {

  .sixth{
    display: none;
  }

  .ninth{
    display: none;
  }

  .tenth{
    padding-top: 180px;
  }


}

@media all and  (max-width: 800px) {

  h3{
    font-size: 54px;
  }
  .first{
    height: 770px;
  }

  .third {

    .section__content {


      .visible {

        .prev {
          @include prevArrow;
         display: none !important;
        }

        .next {
          @include nextArrow;
         display: none !important;
        }

      }

    }

  }

  .fifth{

    .section__content{

      &__container{
        display: block;
        padding-top: 57px;
        max-width: 700px;
        margin: 0 auto;
        position: relative;

        .content__img{
          display: none;

        }
        .content__text{
          padding-left: 80px;

          p{

            &:hover{
              transform: none;
            }

            &:before{
              width: 49px;
              left: -62px;
            }

            &:last-child{
              padding-bottom: 0;
            }

            &:nth-child(even){
              padding-left: 0;

              &:before{
                left: -62px;
              }

            }

          }

        }

      }

    }

  }

  .seventh {

    .section__content {

        .prev {
          @include prevArrow;
          display: none !important;
        }

        .next {
          @include nextArrow;
          display: none !important;
        }



    }

  }

  .eight {

    .section__content {

      .prev {
        @include prevArrow;
        display: none !important;
      }

      .next {
        @include nextArrow;
        display: none !important;
      }



    }

  }

  .tenth{
    text-align: center;
    .section__content {

      .right {
        display: block;
        padding-bottom: 50px;
      }

      .right_top {
        position: relative;

        p {

          &:nth-child(5) {
            margin: 0 auto;
          }

        }

        &__img {
          position: absolute;
          right: 213px;
          bottom: 0;
          top: 118px;
        }

      }
      .right_bottom{
        max-width: 320px;
        background-size: contain;
        margin: 0 auto;
      }

    }

  }


}

@media all and  (max-width: 600px) {
  h3{
    font-size: 32px;
  }

  .first {

    .section__content {


      .section__banner_img {

        .element_left {

          img {
           display: block;
            width: 100%;

          }
        }
      }
    }
  }


}

@media all and  (max-width: 400px) {



  .fourth {

    .section__content {


      .content__element {

        .element__img {
          top: 0;
          img{
            width: 100%;
            display: block;
          }
        }
        .element__background{
          padding-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
          &:hover{
            transform: none;
          }
          .element__text{
            top: 11px;
            p{
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }

      }

    }
  }

  .second {
    position: relative;
    .element_absolute {

    }


    .content {



      .content__row {


        .row__element {

          .row__element__background{
            width: 100%;
            display: block;
          }
          .row__element__text{
            img{
              display: block;
              max-width: 112px;
              max-height: 112px;
              margin: 0 auto;
            }
          }

          &:hover {
            transform: none;
            z-index: 2;
          }
        }
      }
    }
  }

footer{
  .element__container{
    display: block;
  }
}

}