
@font-face {
  font-family: 'magnolia_scriptregular';
  src: url('../fons/magnolia_script-webfont.woff2') format('woff2'),
  url('../fons/magnolia_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{

  font-family: 'magnolia_scriptregular', sans-serif ;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
img{
  display: block;
}

body{
  background: #011826;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 80px;
  background: #011826;;
}

span{
  display: block;
  margin: 0;
  max-width: 80px;
}
nav ul {

  margin: 30px 0 0;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 50px 0 ;
  //font-family: 'Bad Script', cursive;
}

nav{
  text-align: center;
}

li{
  font-weight: lighter;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  &:nth-child(3){
    margin-right: 150px;
  }
  &:nth-child(4){
    margin-left: 130px;
  }
}

.bird{
  position: absolute;
  top: 8px;
  left: 46%;
  right: 0;
}



a { color: white; text-decoration: none; font-size: 32px; }
.active { color: #2dbccb; }

.logo{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 34px;
  text-align: center;
  display: none;
}

.trend{
  padding-top: 90px;
  position: absolute;
  z-index: 4;
  text-align: center;
  h3{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;

  }
}
.trend_list{
  display: flex;
  padding-top: 30px;
  .trend_list_left{
    max-width: 30%;
    border-right: 10px solid rgba(208, 212, 219, 0.3) ;
    border-top: 10px solid rgba(208, 212, 219, 0.3);
    img{
      width: 100%;
    }
  }
  .trend_list_right{

    background-color: rgba(0, 23, 37, 0.6);
    max-width: 30%;
    border-left: 10px solid rgba(208, 212, 219, 0.3) ;
    border-top: 10px solid rgba(208, 212, 219, 0.3);
    p{
      color: white;
      font-size: 15px;
      text-transform: none;
      padding: 10px 80px;
      &:first-child{
        padding-top: 80px;
        text-transform: uppercase;
      }
    }
  }
}



.about{
  position: absolute;
  z-index: 4;
  top: 2380px;
  text-align: center;
  padding-top: 90px;
  h3{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;

  }
}

.about_container {
  display: flex;
  //flex-wrap: wrap;
  padding-top: 80px;

  .left {
    width: 40%;
    border-left: 10px solid rgba(208, 212, 219, 0.3) ;
    border-top: 10px solid rgba(208, 212, 219, 0.3);
    img {
      width: 100%;
      display: block;
    }

  }
  .right {
    //margin: 0 40px;
    background-color: rgba(0, 23, 37, 0.6);
    width: 40%;
    max-height: 700px;
    border-right: 10px solid rgba(208, 212, 219, 0.3) ;
    border-top: 10px solid rgba(208, 212, 219, 0.3);
    p {
      padding: 10px 80px;
      font-size: 14px;
      text-transform: none;
      color: white;
      &:first-child {
        padding-top: 40px;
      }
    }
  }
}

.slick{
  position: relative;
  max-width: 762px;
}

.container{
  position: relative;
  width:100% ;
  float:right;
}

.slick:after{
  content:"";
  display:table;
  width: 100%;
  clear: both;
}

.slide{
  max-width: 440px;
}

.price{
  position: absolute;
  z-index: 4;
  top: 3280px;
  color: white;
  p{
  text-transform: none;
}}

.service{
  padding: 125px 0;
  display: flex;
  position: absolute;
  z-index: 4;
  top: 3900px;
  p{
    padding: 11px 80px;
  font-size: 14px;
  text-transform: none;
  color: white;
  }
  .service_left{
    margin: 0 40px;
    background-color: rgba(0, 23, 37, 0.6);
    max-width: 40%;

  }
  .service_right{
    max-width: 40%;
    position: relative;
    .zoom{
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      a{
        outline: none;
      }
      img{
        max-width: 80px;
        padding-top: 20%;
        padding-bottom: 20%;
      }
    }
    img {
      width: 100%;
    }
  }
}

.tours{
position: absolute;
  z-index: 4;
  top: 4600px;
  transition: .9s;
}

.contact{
  position: absolute;
  z-index: 4;
  top: 5100px;
}
p{
  padding-top: 80px;
  font-size: 24px;
  text-transform: uppercase;
}



/**************************parallacs**********************/
#parallax_body {
  position: relative;
  z-index: 4;
}

#parallax-bg2 {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  margin-left: -600px;
}
#bg2-1 {
  position: absolute;
  top: 1000px;
  left: 200px;
}

#bg2-3 {
  position: absolute;
  top: 1543px;
  left: -35px;
}
#bg2-4 {
  position: absolute;
  top: 920px;
  right: 450px;
}
#bg2-5 {
  position: absolute;
  top: 710px;
  left: -350px;
}
#bg2-6{
  position: absolute;
  top: 1743px;
  left: -35px;
}

#bg2-7{position: absolute;
  top: 1800px;
  left: 500px
}

#bg2-8{
  position: absolute;
  top: 1910px;
  left: 850px;
}

#bg2-9{
  position: absolute;
  top: 1800px;
  left: 1150px;
}

#bg2-10{
  position: absolute;
  top: 2200px;
  left: 1150px;
}

#parallax-bg1 {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  margin-left: -600px;
}

#bg1-0 {
  position: absolute;
  top: 400px;
  left: 1150px;
}

#bg1-1 {
  position: absolute;
  top: 985px;
  left: -370px;
}
#bg1-2 {
  position: absolute;
  top: 1340px;
  left: 938px;
}
#bg1-3 {
  position: absolute;
  top: 1380px;
  left: -120px;
}
#bg1-4 {
  position: absolute;
  top: 820px;
  left: 489px;
}
#bg1-5{position: absolute;
  top: 1820px;
  left: 489px;
}
#bg1-6{
  position: absolute;
  top: 2220px;
  left: 989px;
}
#bg1-7{
  position: absolute;
  top: 1820px;
  left: 0px;
}
#bg1-8{
  position: absolute;
  top: 1920px;
  left: -489px;
}