@mixin  h3{
  font-family: "Scriptorama",sans-serif;
  font-size: 72px;
  letter-spacing: 14px;
  color: black;
  text-align: center;
  font-weight: 400;
}


@mixin scroll{
  &::-webkit-scrollbar {
    width: .5em;
    height: 10px;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track-piece {
    border: 2px solid #e19a00;
    -webkit-border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: #e19a00;
    -webkit-border-radius: 6px;
  }
}

@mixin prevArrow{
  position: absolute;
  z-index: 1;
  left: -54px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transform: scale(1.3, 1.3);
  }
}

@mixin nextArrow{
  position: absolute;
  right: -54px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transform: scale(1.3, 1.3);
  }
}


@mixin dots{
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:before {
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border: 1px solid $colorOne;
        border-radius: 50%;
        content: ' ';
        text-align: center;
        opacity: .75;
        color:  #f1f1f1;
        background-color:  #f1f1f1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  li.slick-active button:before {
    background-color: $colorOne;
    opacity: .95;
    color: $colorOne;
  }
}


@mixin svg{
  path{
    fill: $colorOne;
    stroke: $colorOne;
    transition: 0.5s;
  }
}



@mixin header_menu{
  .nav__menu {
    padding-top: 5px;

    li {
      font-size: 18px;
      color: white;
      margin: 0 10px;

      a {
        padding-bottom: 8px;
        transition: 0.5s;

        &:hover {
          color: $colorOne;
        }
      }

    }

  }
  .nav__links {
    padding-top: 5px;

    li {
      margin: 0 16px;

      a {
        color: white;

        svg path {
          fill: white;
          stroke: white;
        }

        &:hover {
          svg{
            @include svg;
          }
        }

      }

    }

  }
}